<div class="header"  fxLayout="row" fxLayoutAlign="center">
  <div class="container" fxFlex="80">
    <nav class="navigation"  fxLayout="row" fxLayoutAlign="space-between">
      <div class="logo"><a href="/">REALESTATE</a></div>
      <div class="menu-connect">
        <div *ngIf="(currentUser$ | async).userType === UserTypeEnum.Guest" class="btn-connect" (click)="connect()">
          <a fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
            <mat-icon class="mat-icon">login</mat-icon>
            <span>Se connecter </span>
          </a>
        </div>
        <div *ngIf="(currentUser$ | async) && (currentUser$ | async).userType === UserTypeEnum.Connected">
          <ul class="nav-menu">
            <li (mouseleave)="hiddenDropDown($event)">
                <a class="nav-menu-item" (mouseover)="displayDropdown($event)" fxLayout="row" fxLayoutAlign="center center"><mat-icon>account_circle</mat-icon>
                  {{currentUser.email}}
                  <mat-icon>expand_more</mat-icon>
                </a>
              <ul class="nav-dropdown nav-submenu" style="right: auto; display: none;">
                <li><a routerLink="/favorites-properties"><span matBadge="{{favoritesCount$ | async}}" matBadgePosition="above after"
                  matBadgeColor="accent">Favories</span></a></li>
                <li><a (click)="logout()">Déconnecter</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
