.prty-ratio-performance-item{
  background: rgba(238, 244, 248, 0.71);
  border-radius: 6px;
  padding: 10px;
}

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  color: #1a1a1a !important;
  font-size: 13px;
  background: white;
  border: 1px rgba(0, 0, 0, 0.15) solid;
}

.help-icon{
  cursor: pointer;
}
