.property-card{
  height: 290px;
  margin-bottom: 15px;
  img{
    height: auto;
  }
  mat-card-content{
    font-size: small;
  }
}
.property-card:hover{
  cursor: pointer;
  box-shadow: 0 0 15px rgb(91 182 189 / 92%);
}

.container-img{
  /* Top right text */
  .top-right {
    font-size: small;
    background-color: #1d1c1c;
    color: azure;
    padding: 5px;
    position: absolute;
    top: 1px;
    right: 0px;
  }
}

.property-listing{
  border-radius: 0.5rem;
  overflow: hidden;
  background: #ffffff;
  margin-bottom: 30px;
  border: none;
  box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
  -webkit-box-shadow: 0 0 20px 0 rgb(62 28 131 / 10%);
}

.listing-img-wrapper{
  height: 210px;
  flex: 2;
  overflow: hidden;
  border-radius: 3px 0 0 3px;
  position: relative;
}
.listing-img-wrapper a{
  min-height: 210px;
  width: 100%;
  position: relative;
  display: block;
}

.listing-img-wrapper img{
  object-fit: cover;
  height: 210px;
  width: 100%;
}
/* Top left text */
.img-text {
  position: absolute;
}
.listing-content{
  position: relative;
}

.listing-detail-wrapper, .listing-features-wrapper{
  padding: 1rem 1rem 0.5rem;
}
.price-features-wrapper{
  padding: 0.1rem 1rem 0.6rem;
}

.listing-footer-wrapper{
  padding: 0.9rem 1rem;
  border-top: 1px solid #e5e9ec;
}
.listing-name {
  font-size: 16px;
  color: #2D3954;
  font-weight: 700;
  font-family: 'Jost', sans-serif;
  margin-bottom: 0px;
  line-height: 1.4;
}

.listing-card-info-price {
  font-weight: 700;
  font-size: 18px;
  color: #1266e3;
  line-height: 1.4;
  padding-left: 0.35em;
}

 .more-btn{
   color: #ffffff;
   border-radius: 50px !important;
   padding: 6px 17px !important;
   border: 1px solid #0fca98 !important;
   background: #0fca98 !important;
   cursor: pointer ;
 }
.prt-types.company{
  background: rgba(247,68,0,0.1);
  color: #f74400;
  border-color: #f74400;
}


.prt-types {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
  margin-top: 5px;
  border-radius: 50px;
  background: #efefef;
  display: inline-block;
  top: 8px;
  left: 16px;
}

.is-sold{
  font-size: 12px;
  font-weight: 600;
  width: 100%;
  color: #ffffff;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(196, 22, 22);
}
