<div class="widget" fxLayout="column">
  <div class="widget-block-header">
    <h3>Calculatrice de versements hypothécaire</h3>
  </div>
  <div class="widget-block-content">
    <div fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="column" fxLayoutGap="5px">
        <label>Mise de fond</label>
        <div class="input-with-icon" fxLayout="row">
          <input currencyMask [options]="{ suffix: ' %' }" type="text" class="form-control"
            [ngModel]="mise_de_fond_percent" placeholder="Mise de fond" fxFlex="90"
            (ngModelChange)="update_mise_de_fond_percent($event)">
          <div fxLayout="row" fxLayoutAlign="center center">
            <span>({{ mise_de_fond | currency:'CAD':'symbol'}})</span>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <label>Montant du prêt</label>
        <div class="input-with-icon disabled" fxLayout="row">
          <input [disabled]="true" currencyMask [options]="{ suffix: ' $' }" type="text" class="form-control"
            [ngModel]="hypotheque" placeholder="Mise de fond" fxFlex="90">
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <label>Période d'amortissement</label>
        <div class="input-with-icon" fxLayout="row">
          <input currencyMask [options]="{ suffix: ' ans', precision: 0 }" type="text" class="form-control"
            [(ngModel)]="amortissement" placeholder="Amortissement" fxFlex="90">
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <label>Taux d'intérêt</label>
        <div class="input-with-icon" fxLayout="row">
          <input currencyMask [options]="{ suffix: ' %' }" type="text" class="form-control" [ngModel]="interet"
            fxFlex="90" placeholder="Taux d'intérêt">
        </div>
      </div>
      <div fxLayout="column" fxLayoutGap="5px">
        <label>Taux d'intérêt</label>
        <div fxLayout="row">
          <ng-select [(ngModel)]="selectedFrequency" [clearable]="false" [searchable]="false" fxFlex="100">
            <ng-option *ngFor="let key of frequencies.descrs; let i = index" [value]="frequencies.values[i]">{{key}}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <button class="btn btn-black btn-md rounded full-width" (click)="calculate()">Calculate</button>
      <div class="input-with-icon disabled" fxLayout="row">
        <input [disabled]="true" currencyMask [options]="{ suffix: ' $' }" type="text" class="form-control result"
          [ngModel]="montant|async" fxFlex="90" placeholder="Montant mensuel des versements">
      </div>
    </div>
  </div>
</div>
