   .app-container{
  //background-color: #0d1117;
  //color: azure;
  height: 100vh;
  .app-header{
    //color: azure;
    //background-color: #5f71d7;
    margin-bottom: 25px;
  }
  .app-content{
    margin-left: 5%;
    margin-right: 5%;
  }
}
