
.app-container {
  background-color: #ebf7ff !important;
  min-height: 100%;
  //color: azure;

  .app-header {
    //color: azure;
    //background-color: #5f71d7;
    margin-bottom: 25px;
  }

  //.app-content{
  //  margin-left: 5%;
  //  margin-right: 5%;
  //  @media screen and (max-width: 600px){
  //    margin-left: 2%;
  //    margin-right: 2%
  //  }
  //}
}


