<div class="search-container" fxLayout="column" fxFlexFill>
  <div class="search-criteria" fxLayout="row" fxLayoutAlign="center center">
    <div class="full-search" fxFlex.gt-sm="55" fxLayout.gt-sm="row" fxFlex.lt-sm="95" fxLayout.lt-sm="column"
      fxLayoutAlign="center center">
      <div>
        <div class="search-critere" fxLayout="row" fxLayoutAlign="center center">
          <input type="checkbox" />
          <label class="label">Vendues inclues</label>
        </div>
      </div>
      <ng-select #ngselectlocalities (change)="selectLocalities()" [(ngModel)]="localitySelected"
        [closeOnSelect]="false" [clearSearchOnAdd]="false" [multiple]="true" fxFlex.gt-sm="70"
        placeholder="Rechercher par ville">
        <ng-option *ngFor="let locality of localities$ | async" [value]="locality">{{ locality }}</ng-option>
      </ng-select>
      <a (click)="search()" class="btn-search">Rechecher</a>
    </div>
  </div>
  <div class="properties-list-search" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
      <app-properties-list></app-properties-list>
      <app-properties-list-pagination></app-properties-list-pagination>
    </div>
  </div>
</div>
