<div class="search-container" fxLayout="column">
  <div class="search-criteria" fxLayout="row" fxLayoutAlign="center center" fxFlex="15">
    <div class="full-search" fxFlex.gt-sm="55" fxLayout.gt-sm="row" fxFlex.lt-sm="95" fxLayout.lt-sm="column"
      fxLayoutAlign="center center">
      <div>
        <div class="search-critere" fxLayout="row" fxLayoutAlign="center center">
          <input type="checkbox" />
          <label class="label">Vendues inclues</label>
        </div>
      </div>
      <ng-select #ngselectlocalities (change)="selectLocalities()" [(ngModel)]="localitySelected"
        [closeOnSelect]="false" [clearSearchOnAdd]="true" [multiple]="true" fxFlex.gt-sm="70"
        placeholder="Rechercher par ville">
        <ng-option *ngFor="let locality of localities$ | async" [value]="locality">{{ locality }}</ng-option>
      </ng-select>
      <a (click)="search()" class="btn-search">Rechecher</a>
    </div>
  </div>
  <div class="properties-list-search" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column" fxLayoutGap="10px">
      <mat-paginator #paginator (page)="pageEvent = $event; onPaginateChange($event)" [length]="totalPages * pageSize"
        [pageSize]="pageSize">
      </mat-paginator>
      <app-properties-list></app-properties-list>
    </div>
  </div>
</div>
