.listing-detail-wrapper, .listing-features-wrapper{
  padding: 1rem 1rem 0.5rem;
}

.list-unite{
  position: relative;
}
.list-unite-type{
  font-size: 12px;
  border-radius: 50px !important;
  padding: 6px 6px !important;
  background: rgba(247,68,0,0.1);
  color: #f74400;
}
.list-unite-nbr{
  font-weight: 700;
  font-family: 'Jost* Bold', sans-serif;
  font-size: 12px;
  position: absolute;
  top:-6px;
  right: 2px;
}
