/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "assets/fonts/jost-cufonfonts-webfont/style.css";
html {
  height: 100%;
}
@font-face {
  font-family: Muli-Regular;
  src: url('./assets/fonts/muli/Muli-Regular.ttf');
}

@font-face {
  font-family: Muli;
  src: url('./assets/fonts/muli/Muli.ttf');
}
html, body { height: 100%; }
body,.mat-body, .mat-body-1, .mat-typography {
  background: #ffffff;
  color: #4e5c79;
  font-size: 16px !important;
  font-family: 'Muli', sans-serif !important;
  margin: 0;
  overflow-x: hidden !important;
  font-weight: 400 !important;
}


