.pagination {
  display: table;
  padding-left: 0;
  border-radius: 4px;
  margin: 20px auto 0 !important;
  list-style: none;
}

.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 0;
  margin: 5px;
  text-decoration: none;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  box-shadow: 0 2px 10px 0 #d8dde6;
  color: #2D3954
}
.pagination>li {
  display: inline;
}

.pagination li:first-child a {
  border-radius: 2px;
  color: #fff;
}
.page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination>li>a:focus, .pagination>li>a:hover {
  cursor: pointer;
  background: #1266e3;
}

.page-link {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}

.pagination>.active>a{
  border-color: #1266e3;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
}
.pagination li:last-child a {
  border-radius: 2px;
  color: #fff;
}

.pagination li:last-child a, .pagination li:first-child a{
  background: #35434e;
  border: 1px solid #35434e;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover, .pagination>li>a:focus, .pagination>li>a:hover {
  z-index: 2;
  color: #ffffff;
  cursor: pointer;
}
