<div class="col-lg-12 col-md-12 col-sm-12">
  <ul class="pagination p-center">
    <li class="page-item">
      <a class="page-link" (click)="onPaginateChange(currentPage -1, true)" aria-label="Previous" fxLayoutAlign="center center">
        <mat-icon>arrow_back</mat-icon>
      </a>
    </li>
    <li *ngIf="first > 0" class="page-item" [class.active] = "currentPage === first"><a class="page-link"  (click)="onPaginateChange(first)">{{first}}</a></li>
    <li *ngIf="second > 0"  class="page-item" class="page-link" [class.active] = "currentPage === second"><a class="page-link" (click)="onPaginateChange(second)">{{second}}</a></li>
    <li *ngIf="third > 0 && third < totalPages"  class="page-item" class="page-link" [class.active] = "currentPage === third"><a (click)="onPaginateChange(third)">{{third}}</a></li>
    <li *ngIf="third < totalPages" class="page-item"><a class="page-link">...</a></li>
    <li *ngIf="totalPages >= currentPage" class="page-item" [class.active] = "currentPage === totalPages"><a class="page-link" (click)="onPaginateChange(totalPages)">{{totalPages}}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="onPaginateChange(currentPage +1, true)" aria-label="Next" fxLayoutAlign="center center">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </li>
  </ul>
</div>
